/.vs
/AroundCamera/readme
/Commander/readme
/FrontCamera/readme
/FrontCamera/obj
/FrontCamera/.vs
/LogWriter/.vs
/Library/obj
/LogWriter/obj
obj
/AroundCamera/bin
/Commander/bin
/AnimalCamera/bin
/FrontCamera/bin
/LogWriter/bin
/Library/bin
/DetailTool/packages
/DetailTool/DetailTool/bin
/DetailTool/.vs
